body {

    margin:0;

    padding:0;

    height:100%;

}

#wrapper {

	

    min-height:100%;

}

#header {

	height:auto;
	padding-bottom:10px;

    background:#2eca15;
   
/*     top:0; */
    width:100%;
/*     box_sizing:border-box; */
   

}

#container {
position:relative;

    padding:20px;
    padding-bottom:60px;

}
#footer {

   
	margin-top:20px;
    position:fixed;

    bottom:20px;

    width:100%;

    height:30px;   

    background:#ccc;

}
#rtnMsg {
position:fixed;
    

    bottom:0;

    width:100%;

    height:20px;   

    background:#FFFFFF;

}